<h1>標題: <%= @topic.title  %></h1>

<p>內文: <%= @topic.content %></p>
<p>標籤: <%= @topic.category.name%></p>


	<table class="table table-bordered">
			<tr>
				<th>留言</th>
				<th>留言者</th>
				<th>留言時間</th>
				<th>功能</th>
			</tr>
			<tr>
				<% @comment.each do |comment| %>
				<td><%= comment.comment %> </td>
				<td><%= comment.user.try(:short_name)%></td>
				<td><%= comment.created_at %></td>

				<% if current_user&&current_user.try(:id) == comment.user.try(:id)%>
					<td><%= link_to 'Delete', topic_comment_path(@topic,comment), :method => :delete, :data => { :confirm => "Are you sure?"}, :class => "btn btn-danger" %></td>
				<%end%>

			</tr>
				<%end%>
	</table>


<%= form_for @comment_new , :url => topic_comments_path(@topic,@comment) ,:method => :post do |c| %>
	<div class="form-group">
		<%= c.label :comment,"Comment" %>
		<%= c.text_field :comment ,:class => "form-control"%>		
	</div>

    <%= c.submit "留言", :class => "btn btn-primary"%>
 <%end%>

<p></p>

<%= link_to "回首頁" , topics_path ,:class => "btn btn-info"%>